
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f2e9e4;
    font-family: "Orbitron", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #22223b;
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#clock{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #c9ada7;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock>span{
    font-size: 25px;
}
#container>h1{
    border: 1px solid #c9ada7;
    border-radius: 8px;
    padding: 10px 20px;

}
span,#amorpm{
    padding-left: 5px;
}